.kreservations-reservations-disclaimer {
    white-space: pre-wrap;
    padding: 15px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 15px;
    &--info {
        background-color: #b1d6eb;
        color: #007bff;
    }
    &--error {
        background-color: #ebb1b1;
        color: #ff0000;
    }
}
.kreservations-reservations-container {
    display: flex;
    flex-direction: column;
    .kreservations-reservations__form-row {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
        label {
            &.required-field::after {
                content: '*';
                color: red;
            }
        }
        .kreservations-reservations__form-element {
            padding-left: 5px;
            padding-right: 5px;
            display: flex;
            flex-direction: column;
        }
        .kreservations-reservations__form-element--error {
            border: 2px solid red;
        }
    }

}