.kreservations-success-container {
    display: flex;
    flex-direction: column;
    .kreservations-success-details {
        .kreservations-success-details-field {
            flex-direction: row;
            padding-top: 10px;
            &__title {
                font-weight: bold;
                text-decoration: underline;
            }
            &__value {
                color: #828385;
                font-weight: bold;
                font-size: 18px;
            }
            button {
                margin-left: 15px;
            }
        }
    }
    .kreservations-success-introduction {
        white-space: pre-wrap;
        padding: 15px;
        font-weight: bold;
        border-radius: 10px;
        margin-bottom: 15px;
        background-color: #bfebb1;
        color: #00531c;
    }
}