<div class="kreservations-reservations-disclaimer kreservations-reservations-disclaimer--info">
    {{'kreservations.reservations.disclaimer' | translate}}
</div>
<div class="kreservations-reservations-disclaimer kreservations-reservations-disclaimer--error">
    {{'kreservations.reservations.disclaimer-error' | translate}}
</div>

<div class="kreservations-reservations-container">
    {{'kreservations.reservations.introduction' | translate }}
    <div class="kreservations-reservations__form-row">
        <div class="kreservations-reservations__form-element">
            <label class="required-field">
                {{'kreservations.reservations.form.date' | translate}}
            </label>
            <input #dateInput
                [ngClass]="{'kreservations-reservations__form-element--error': getControl('date').errors && getControl('date').touched}"
                [placeholder]="'kreservations.reservations.form.date' | translate"
                [formControl]="getControl('date')"
                [inputMask]="dateMask"
                type="text"
            />
        </div>
        <div class="kreservations-reservations__form-row">
            <div class="kreservations-reservations__form-element">
                <label class="required-field">
                    {{'kreservations.reservations.form.time' | translate}}
                </label>
                <select
                    [ngModel]="time"
                    (ngModelChange)="updateTime($event)"
                    [disabled]="!timeFieldEnabled">
                    <option [value]="item" *ngFor="let item of availableTimeSlots">{{item}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="kreservations-reservations__form-row">
        <div class="kreservations-reservations__form-element">
            <label class="required-field">
                {{'kreservations.reservations.form.username' | translate}}
            </label>
            <input #userNameInput
                [ngClass]="{'kreservations-reservations__form-element--error': getControl('userName').errors && getControl('userName').touched}"
                [placeholder]="'kreservations.reservations.form.username' | translate"
                [formControl]="getControl('userName')"
                type="text"
            />
        </div>
        <div class="kreservations-reservations__form-element">
            <label class="required-field">
                {{'kreservations.reservations.form.email' | translate}}
            </label>
            <input #emailInput
                [ngClass]="{'kreservations-reservations__form-element--error': getControl('email').errors && getControl('email').touched}"
                [placeholder]="'kreservations.reservations.form.email' | translate"
                [formControl]="getControl('email')"
                type="text"
            />
        </div>
        <div class="kreservations-reservations__form-element">
            <label class="required-field">
                {{'kreservations.reservations.form.phone' | translate}}
            </label>
            <input #phoneInput
                [ngClass]="{'kreservations-reservations__form-element--error': getControl('phone').errors && getControl('phone').touched}"
                [placeholder]="'kreservations.reservations.form.phone' | translate"
                [formControl]="getControl('phone')"
                type="text"
            />
        </div>
    </div>
    <div class="kreservations-reservations__form-row">
        <div class="kreservations-reservations__form-element">
            <label class="required-field">
                {{'kreservations.reservations.form.people' | translate}}
            </label>
            <input #peopleInput
                [ngClass]="{'kreservations-reservations__form-element--error': getControl('people').errors && getControl('people').touched}"
                [placeholder]="'kreservations.reservations.form.people.placeholder' | translate"
                [formControl]="getControl('people')"
                type="number"
            />
        </div>
        <div class="kreservations-reservations__form-element">
            <label class="required-field">
                {{'kreservations.reservations.form.children' | translate}}
            </label>
            <input #childrenInput
                [ngClass]="{'kreservations-reservations__form-element--error': getControl('children').errors && getControl('children').touched}"
                [placeholder]="'kreservations.reservations.form.children' | translate"
                [formControl]="getControl('children')"
                type="number"
            />
        </div>
        <div class="kreservations-reservations__form-element">
            <label>
                {{'kreservations.reservations.form.smokers' | translate}}
            </label>
            <input
                #smokersInput
                [placeholder]="'kreservations.reservations.form.smokers' | translate"
                [formControl]="getControl('smokers')"
                type="checkbox"
            />
        </div>
        <div class="kreservations-reservations__form-element">
            <label>
                {{'kreservations.reservations.form.birthday' | translate}}
            </label>
            <input #birthdayInput
                [placeholder]="'kreservations.reservations.form.birthday' | translate"
                [formControl]="getControl('birthday')"
                type="checkbox"
            />
        </div>
        <div class="kreservations-reservations__form-element" *ngIf="getControl('birthday').value">
            <label>
                {{'kreservations.reservations.form.birthdayName' | translate}}
            </label>
            <input
                #birthdayNameInput
                [placeholder]="'kreservations.reservations.form.birthdayName' | translate"
                [formControl]="getControl('birthdayName')"
                type="text"
            />
        </div>
    </div>
    <div class="kreservations-reservations__form-row">
        <div class="kreservations-reservations__form-element">
            <label class="required-field">
                {{'kreservations.reservations.form.region' | translate}}
            </label>
            <select [ngModel]="region" (ngModelChange)="updateRegion($event)" #regionSelect>
                <option [value]="item.id" *ngFor="let item of availableRegions" [disabled]="item.disabled">{{item.name}}</option>
            </select>
        </div>
    </div>
</div>
<button [disabled]="!form.valid || suggestedDate || noAvailableSuggestionsForInvalidDate" (click)="submitForm()">submit reservation</button>

<div *ngIf="suggestedDate" class="kreservations-reservations-disclaimer kreservations-reservations-disclaimer--info">
    {{'kreservations.reservations.suggestion' | translate}}{{suggestedDate | date:'dd/MM/yyyy, h:mm a'}}
    <button (click)="modifyDate()">Ok, change!</button>
</div>
<div *ngIf="noAvailableSuggestionsForInvalidDate" class="kreservations-reservations-disclaimer kreservations-reservations-disclaimer--error">
    {{'kreservations.reservations.no-suggestion' | translate}}
</div>